@import url("https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e2e2e;
  background: #2e2e2e;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #d8e021;
  height: 80px;
  padding: 1em;
  position: relative;
  z-index: 2;
}

.logo {
  position: relative;
  width: 150px;
  justify-content: center;
  margin-top: auto;
  z-index: 4;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* spacing of the fonts  */

.menu > li {
  margin: 2rem;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 0.4rem;
}

.under-banner {
  content: "";
  background: url(https://i.ibb.co/d6vBcJL/Untitled-Artwork-22.png) repeat-x
    scroll center 0px;
  position: absolute;
  top: 100px;
  height: 80px;
  width: 100%;
  z-index: 1;
}

.top-banner {
  content: "";
  background: url(https://i.ibb.co/M7RsQ4Y/Untitled-Artwork-28.png) repeat-x
    scroll center 0px;
  position: relative;
  bottom: 30px;
  height: 80px;
  width: 100%;
  z-index: 4;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    z-index: 4;
  }

  .logo {
    margin-left: auto;
    position: absolute;
    align-items: center;
    padding-top: 50px;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 5;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #3d3d3d;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 5;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 0px;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #2e2e2e;
    border: none;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* about page  */
.about-heading {
  border: medium none;
  width: auto;
  margin: 0 auto 25px;
  padding: 0px 0px 10px;
  color: white;
  position: relative;
  text-align: center;
  font: 400 40px/45px "Playball", cursive;
  text-transform: capitalize !important;
  letter-spacing: 0.2px;
}

@media (max-width: 700px) {
  .box-heading {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 10px;
  }
}

.dividers {
  content: url(https://i.ibb.co/kQjY7sd/blackdivider.png);
}

.about-background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-image: url(https://i.ibb.co/F5Fy6JF/Untitled-Artwork-25.png);
}

.image {
  transition: all 1s ease-in-out;
}

.about-para {
  font-size: 13px;
}
